@charset "UTF-8";
/* ----------------------------------------
* 背景
* ---------------------------------------- */

body {
    font-family: "Helvetica", "Arial", YuGothic,"Yu Gothic","Hiragino Sans","ヒラギノ角ゴシック","メイリオ", Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    background-color: #f5f7f7;
    background-image: none;
    background-size: 14px 14px;
    background-position: 0 0, 7px 7px;
    line-height: 1.75;
}
body{padding-top:20px;}
/* ----------------------------------------
* ログイン画面
* ---------------------------------------- */

.container {
    padding: 250px;
    align-items: center;
}
@media (min-width: 768px)
.container {
    max-width: 730px;
}

.error_list {
    padding: 10px 30px;
    color: #ff2e5a;
    font-size: 86%;
    text-align: left;
    border: 1px solid #ff2e5a;
    border-radius: 5px;
}